<div *ngIf="!orderList">
    <em>Данные не получены</em>
</div>
<div *ngIf="orderList && !orderList.length">
    <em>Данные отсутствуют</em>
</div>
<div *ngIf="orderList && orderList.length">
    <table class="table" width="100%">
        <thead>
            <th>Дата создания</th>
            <th>Статус</th>
            <th>Итог</th>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderList">
                <td>
                    {{ order.deal.created | date: 'HH:mm dd.MM.y'}}
                </td>
                <td>
                    {{ getDealState(order) }}
                </td>
                <td>
                    {{ getDealStatus(order) }}
                </td>
        </tbody>
    </table>
</div>
