<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               routerLink="/">
                Сyfa.pnt
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!userLoaded">
                <em>Загрузка данных...</em>
            </li>
            <li *ngIf="userLoaded && is_authenticated">
                <a class="log-in text-left"
                   routerLink="account">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{userTitle}}
                </a>
            </li>
            <li *ngIf="userLoaded && is_authenticated">
                <p class="navbar-text"><em>id: {{uid}}</em></p>
            </li>
            <li *ngIf="userLoaded && is_authenticated">
                <a class="log-in"
                   (click)="routeLogOut()">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Выйти
                </a>
            </li>
            <li *ngIf="userLoaded && !is_authenticated">
                <a class="log-in"
                   (click)="routeLogIn()">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Войти
                </a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
