<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body>
    {{ backends.associated }}

    {{ backends.not_associated }}
    {{ backends.backends }}
    {{ status_page }}
    {% if page_status == 'login' %}
        <p>Вход выполнен</p>
            {% for i in backends.associated %}
            {{ i }}
            {{ i.provider }}
            {{ i.id }}
        {% endfor %}
        <p>pppppppppppppppppppppppppppppp</p>

{#        {% for soc in backends.backends %}#}
{#            <form action="{% url 'social:disconnect' soc  %}" method="post">#}
{#                {% csrf_token %}#}
{#                <button type="submit">Disconnect</button>#}
{#            </form>#}
{#        {% endfor %}#}
        {% for i in backends.associated %}
            <form action="{% url 'social:disconnect_individual' i.provider i.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Disconnect</button>
            </form>
        {% endfor %}
{#        <a href="{% url 'auth:logout' %}">Выход</a>#}



    {% endif %}
    {% if page_status == 'start' %}
        <p>Стартовая страница</p>
        {% for soc in backends.backends %}
            <a href="{% url 'social:begin' soc %}">{{ soc }}</a>
        {% endfor %}
    {% endif %}
</body>
</html>