<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body>
    {{ backends.associated }}
    {{ backends.not_associated }}
    {{ backends.backends }}
    {{ status_page }}
    {% if page_status == 'login' %}
        <p>Вход выполнен</p>


{#        <a href="{% url 'auth:user_logout' %}">Выход</a>#}

        {% for social in backends.backends %}
            <form action="{% url 'social:disconnect' social %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Выход" />
            </form>
        {% endfor %}



    {% endif %}
    {% if page_status == 'start' %}
        <p>Стартовая страница</p>
        {% for social in backends.backends %}
            <a href="{% url 'social:begin' social %}">{{ social }}</a>
        {% endfor %}
    {% endif %}
</body>
</html>