<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body>
    {{ backends.associated }}
    {{ backends.not_associated }}
    {{ backends.backends }}
    {{ status_page }}
    {% if page_status == 'login' %}
        <p>Вход выполнен</p>
        <a href="{% url 'auth:user_logout' %}">Выход</a>
    {% elif page_status == 'logout' %}
        <p>Выход выполнен</p>
        {% for social in backends.backends %}
            <a href="{% url 'social:begin' social %}">{{ social }}</a>
        {% endfor %}
    {% elif page_status == 'fail' %}
        <p>Ошибка</p>
    {% else %}
        <p>Стартовая страница</p>
        {% for social in backends.backends %}
            <a href="{% url 'social:begin' social %}">{{ social }}</a>
        {% endfor %}
    {% endif %}
</body>
</html>