<md-card>
    <md-card-subtitle>Личные данные</md-card-subtitle>
    <md-card-content>
        <div *ngIf="isFailed">
            <p class="text-center">Ошибка загрузки данных</p>
        </div>
        <div *ngIf="user && !isFailed">
            <p>Имя в статистике: <strong>{{user.statistic_name.name}}</strong></p>
            <p>id: <strong>{{user.uid_for_client.name}}</strong></p>
            <div class="payment text-center">
                <h4>Баланс</h4>
                <p>
                    <strong><em>{{user.balance.balance | rate}}</em> бубликов</strong>
                </p>
                <p>
                    <button type="button"
                            class="btn btn-primary"
                            disabled="disabled">
                        Пополнить баланс
                    </button>
                </p>
            </div>
        </div>
    </md-card-content>
</md-card>