#wrapper{
    margin-top: 10px;
}
.loading_app{
    height: 500px;
    background: url(../img/loading_app.gif) no-repeat 50% 50%;
}

.logo{
    display: block;
    height: 150px;
    background: url(../img/logo.png) no-repeat 50% 50%;
}
.log-in{
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 20px;
    vertical-align: top;
}
.log-in:hover,
.log-in:active{
    text-decoration: none;
}

.start-page .pfe-logo{
    display: block;
    height: 400px;
    background: url(../img/discus.png) no-repeat 50% 50%;
}
.start-page .pfg-logo{
    display: block;
    height: 400px;
    background: url(../img/discus_game.png) no-repeat 50% 50%;
}

/*
 * material-design
 */
.md-tab-body{
    padding: 10px;
}