#wrapper{
    margin-top: 10px;
}
.loading_app{
    height: 500px;
    background: url(../img/loading_app.gif) no-repeat 50% 50%;
}

.logo{
    display: block;
    height: 150px;
    background: url(../img/logo.png) no-repeat 50% 50%;
}
.log-in{
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 20px;
    vertical-align: top;
}
.log-in:hover,
.log-in:active{
    text-decoration: none;
}

.start-page .pfe-logo{
    display: block;
    height: 400px;
    background: url(../img/discus.png) no-repeat 50% 50%;
}
.start-page .pfg-logo{
    display: block;
    height: 400px;
    background: url(../img/discus_game.png) no-repeat 50% 50%;
}

/*
 * material-design
 */
.md-tab-body{
    padding: 10px 15px;
}

/*
 * Chat
 */
.chat__block{
    padding: 10px 5px 0;
}
.chat__history{
    display: block;
    margin-bottom: 10px;
    min-height: 200px;
    height: 200px;
    overflow: auto;
}

.chat__message_stripe.myself{
    text-align: right;
}
.chat__message_stripe.other{
    text-align: left;
}
.chat__message_block{
    display: inline-block;
    max-width: 70%;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chat__message_stripe.myself .chat__message_block{
    background-color: #d9edf7;
}
.chat__message_stripe.other .chat__message_block{
    background-color: #dff0d8;
}

.chat__message-date{
    text-align: right;
    font-size: .8em;
    color: #a1a1a1;
}