<div *ngIf="!friendList || !applicationsToFriends">
     <em>Загрузка данных...</em>
</div>
<div *ngIf="friendList && applicationsToFriends && !friendList.length && !applicationsToFriends.length">
    <em>У вас нет друзей</em>
</div>
<div *ngIf="friendList && friendList.length">
    <h4>Друзья</h4>
    <table class="table" width="100%">
        <thead>
            <th width="80">№ п/п</th>
            <th>Имя</th>
            <th width="160">Действия</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of friendList; let i = index">
                <td>{{i + 1}}</td>
                <td>{{user.username}} ({{user.dispute_name}})</td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            (click)="deleteFriend(user)">Удалить из друзей</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="applicationsToFriends && applicationsToFriends.length">
    <h4>Заявки в друзья</h4>
    <table class="table" width="100%">
        <thead>
            <th width="80">№ п/п</th>
            <th>Имя</th>
            <th width="160">Действия</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of applicationsToFriends; let i = index">
                <td>{{i + 1}}</td>
                <td>{{user.username}}</td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            (click)="addFriend(user)">Принять дружбу</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
